{% extends "base" %}

{% block title %}WBC{% endblock title %}

{% block content %}
<h1>Welcome to the WBC</h1>

<h2>Next race</h2>
<p>{% if current_race %}{{current_race}}{% endif %}</p>
{% endblock content %}